:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
	--white: hsl(0, 0%, 100%);
}

body {
	color: var(--dark-gray);
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: url("../images/bg-pattern-top.svg") 115% 225% no-repeat, url("../images/bg-pattern-bottom.svg") -15% -120% no-repeat, var(--dark-cyan);
}

#component {
	border-radius: 15px;
	background-color: var(--white);
	width: 80%;
	height: auto;
	text-align: center;
	box-shadow: 0px 5px 10px 5px hsla(0, 0%, 0%, 0.1);
}

header {
	height: auto;
	border-radius: 15px 15px 0 0;
	background: url("../images/bg-pattern-card.svg");
}

#user-picture {
	width: auto;
	height: auto;
	transform: translateY(50%);
	border-radius: 50%;
	border: 5px solid var(--white);
}

#user-info {
	margin-top: 4em;
}

#user-info p {
	font-size: 0.8em;
}

h1 {
	font-size: 1em;
	color: var(--very-dark-desaturated-blue);
}

h2 {
	font-size: 1em;
	color: var(--very-dark-desaturated-blue);
	margin: 0;
}

#user-age {
	color: var(--dark-gray);
	font-weight: 400;
	margin-left: 0.3em;
}

#user-stats {
	margin-top: 2.5em;
	border-top: 1px solid hsla(0, 0%, 59%, 0.4);
	padding: 1.2em;
}

#user-stats ul {
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#user-stats ul li p {
	margin: 0;
	font-size: 0.6em;
}

#attribution {
	position: fixed;
	bottom: 0;
	text-align: center;
	color: var(--white);
	font-size: 0.8em;
}

/* media queries */
@media (min-width: 501px) {
	/* falta esto */
}